.subsContainer {
  --svg--width: 180px;
  --border-color: rgb(231, 231, 231);
  max-width: var(--max-container-width);
  box-sizing: border-box;
  width: 100%;
  border: solid 1px var(--border-color);
  border-radius: 5px;
  padding: 2em;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* container for svg */
.subsImg {
  display: flex;
  background: var(--bg-light-blue);
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

/* .subsImg > svg {
  width: 100%;
  aspect-ratio: 1/1;
} */
/* .subsImg > svg path {
  width: 100%;
  aspect-ratio: 1/1;
} */

.subsRightContainer {
  display: flex;
  flex-direction: column;
  gap: 1em;
  min-width: 80%;
  position: relative;
}

.subsRightContainer .close-btn {
  position: absolute;
  top: 5px;
  right: 0;
  cursor: pointer;
}

.subsContent {
  margin-top: -1em;
}

/* Email and sign up button */
.subEmailContent {
  display: flex;
  gap: 1em;
}

.subEmailContent Input {
  flex-grow: 1;
  max-width: 30em;
}


@media screen and (max-width: 677px){

  .subsRightContainer {
    font-size: .90em;
  }
}