.navbar {
  position: sticky;
  top: 0;
  z-index: 3;
  height: 50px;
  background-color: #003580;
  display: flex;
  justify-content: center;
}

.navContainer {
  width: 100%;
  max-width: 1024px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-default);
}

.logo {
  font-weight: 500;
  cursor: pointer;
}

.navItems .navButton {
  box-sizing: border-box !important;
  border: solid 1px var(--clr-blue-primary);
  margin-left: 20px;
  border: none;
  border-radius: 0;
  padding: 5px 10px;
  cursor: pointer;
  color: #003580;
  background: white;
}

.navItems .navButton:hover {
  background: rgb(216, 216, 216);
}
